# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Streamlit
.streamlit/secrets.toml

# IDEs / Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# Build / Distribution
build/
dist/
*.egg-info/

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/

# Temporary files
*.tmp
*.tempS